.photo-grid {
    display: grid;
    list-style-type: none;
    padding: 0;
    margin: 64px 16px 0 16px;
    grid-template-columns: 1fr;
    gap: 12px 12px;
}

@media screen and (min-width: 768px) {
    .photo-grid{
        margin: 88px 24px 0 24x;
        grid-template-columns: 1fr 1fr;
        gap: 16px 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        margin: 92px auto 0 48px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        margin: 92px auto 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px 16px;
    }
}