.lead {
    display: flex;
    flex-direction: column;
    margin: 48px auto 0 auto;
    align-content: center;
}

@media screen and (min-width: 768px) {
    .lead {
        max-width: 768px;
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .lead{
        margin-top: 56px;
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead{
        margin-top: 56px;
        max-width: 984px;
    }
}