.places__main-text {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 32px;
}


@media screen and (min-width: 768px) {
    .places__main-text {
        margin-left: 28px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .places__main-text {
        margin-left: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .places__main-text {
        margin-left: 40px;
    }
}