.header__lang-links__lang-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: right;
    margin-left: 18px;
    text-decoration: none;
}

.header__lang-links__lang-link:hover {
    text-decoration: underline;
}