.places__description {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

@media screen and (min-width: 768px) {
    .places__description {
        flex-direction: row;
        margin-top: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .places__description {
        margin-top: 48px;
    }
}